<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/views/js/detail.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Chi tiết căn hộ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/detail.css">
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card mb-10">
                        <div class="card-header">
                            <nav class="header-navigation">
                                <a href="#" class="btn btn-link">Back to the list</a>

                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">House</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dragon-House</li>
                                </ol>

                                <div class="btn-group">
                                    <a href="#" class="btn btn-link btn-share">Share</a>
                                    <a href="#" class="btn btn-link">abc</a>
                                </div>
                            </nav>
                        </div>
                        <div class="card-body home-body">
                            <div class="home-info">
                                <div class="home-gallery">
                                    <div class="home-gallery-thumbnails">
                                        <ol class="thumbnails-list list-unstyled">
                                            <li class="img-a"><img src="/img/img1.jpg" alt=""></li>
                                            <li class="img-a"><img src="/img/img2.jpg" alt=""></li>
                                            <li class="img-a"><img src="/img/img3.jpg" alt=""></li>
                                            <li class="img-a"><img src="/img/img4.jpg" alt=""></li>
                                            <li class="img-a"><img src="/img/img5.jpg" alt=""></li>
                                        </ol>
                                    </div>
                                    <div class="home-gallery-featured">
                                        <a href="/img/img6.jpg"> <img class="img-home" src="/img/img6.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="home-seller-recommended">
                                    <div class="home-description mb-5">
                                        <h2 class="mb-5" style="margin-top: 20px;">Description</h2>
                                        <p>Phòng trọ có diện tích 15m2 <br> Nhà trong hẻm cụt nên yên tĩnh, đầu hẻm đi 1 xíu là đường Phạm Văn Đồng và vòng xoay PVĐ, khu xóm cũng thân thiện lắm nha. Không ở hoàn trả cọc <br> Gần: <br> + ĐH Mở, ĐH Công Nghiệp,
                                            ĐH Tài chính-Mảketing (xe máy đi tầm 10p)<br> + Công viên Gia Định, Chùa Bảo Long, Giáo xứ Mân Côi (xe máy đi tầm 10p)<br> + Siêu thị Emart, Co.op Mart, Vincom Phan Văn Trị, chợ Gò Vấp, Cây Quéo (xe máy đi tầm
                                            15p)
                                            <br> + Khoảng 3, 4 tiệm tạp hoá và 1 cửa hàng tiện lợi (đi bộ tầm 2, 3 phút, đứng lựa không biết mua gì có khi hơn 🤣)<br> Mình là sinh viên đăng dùm chủ nhà, đã từng sống ở đây nên mình cam đoan tất cả thông
                                            tin trên đều là sự thật Ở đây yên tĩnh, vui vẻ và thân thiện lắm. Nếu có thắc mắc trong quá trình thuê hoặc chưa thuê, thì mọi người ở đây sẵn sàng chỉ bạn nhé. ^^</p>
                                    </div>
                                    <ul class="nav nav-tabs" id="example-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a id="tab1" class="nav-link active" data-toggle="tab" role="tab" href="#pane-tab-1">Tab1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab2" class="nav-link" data-toggle="tab" role="tab" href="#pane-tab-2">Tab2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="tab3" class="nav-link" data-toggle="tab" role="tab" href="#pane-tab-3">Tab3</a>
                                        </li>
                                    </ul>


                                    <!-- /.content-->
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="pane-tab-1" role="tabpanel" aria-labelledby="tab1">
                                            Nội dung Tab1
                                        </div>
                                        <div class="tab-pane fade" id="pane-tab-2" role="tabpanel" aria-labelledby="tab2">
                                            Nội dung Tab2
                                        </div>
                                        <div class="tab-pane fade" id="pane-tab-3" role="tabpanel" aria-labelledby="tab3">
                                            Nội dung Tab3
                                        </div>
                                    </div>
                                    <h3 class="mb-5" style="margin-top: 30px;">Khu Vực Gần Đó</h3>
                                    <div class="recommended-items card-deck">
                                        <div class="card">
                                            <div class="responsive"> <img src="/img/img8.jpg" alt="" class="card-img-top "></div>
                                            <div class="card-body">
                                                <h5 class="card-title">Name house</h5>
                                                <span class="text-muted"><small>T-Shirt Size X - Large - Nickony Brand</small></span>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="responsive"> <img src="/img/img7.jpg" alt="" class="card-img-top "></div>
                                            <div class="card-body">
                                                <h5 class="card-title">Name house</h5>
                                                <span class="text-muted"><small>T-Shirt Size X - Large - Nickony Brand</small></span>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="responsive"> <img src="/img/img10.jpg" alt="" class="card-img-top"></div>
                                            <div class="card-body">
                                                <h5 class="card-title">Name house</h5>
                                                <span class="text-muted"><small>T-Shirt Size X - Large - Nickony Brand</small></span>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="responsive"> <img src="/img/img9.jpg" alt="" class="card-img-top "></div>
                                            <div class="card-body">
                                                <h5 class="card-title">Name house</h5>
                                                <span class="text-muted"><small>T-Shirt Size X - Large - Nickony Brand</small></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="home-payment-details">
                                <div class="rating">
                                    <div class="stars">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <span class="review-no">41 reviews</span>
                                </div>
                                <h4 class="home-price display-4" style="margin: auto;">DRAGON HOUSE</h4>
                                <p class="text-success">Giá: 2.500.000/tháng</p>
                                <p class="text-success"><i class="fa fa-phone"></i> 0947.8044.752</p>
                                <p class="mb-0" style="padding-bottom: 10px;"><i class="fa fa-map-marker"></i> 245 Trần Cao Vân, Đà Nẵng</p>
                                <label for="quant">Mô tả</label>
                                <div class="text-muted mb-2"><small>Tiện ích:<br>
                                    + Có nhà vệ sinh cá nhân <br>
                                    + Gửi xe trong nhà miễn phí <br>
                                    + WIFI giá rẻ cố định hàng tháng<br>
                                    + Có sân thượng để phơi đồ, hóng mát<br>
                                    + Có thể thương lượng nhu cầu với chủ nhà</small></div>
                                <div class="btn">
                                    <button class="thue btn btn-default" type="button">Thuê/Mua ngay</button>
                                    <button class="like btn btn-default" type="button"> Yêu Thích <span class="fa fa-heart"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>