<link
  rel="stylesheet"
  href="<%= process.env.BASE_URL %>/stylesheets/header.css"
/>
<header class="header">
    <h3 class="logo">Dream boarding house</h3>
    <nav>
      <ul class="nav-bar">
        <li class="nav-item">
          <a href="" class="nav-link">TRANG CHỦ</a>
        </li>
        <% if(user) {%>
          <li class="nav-item">
            <a href="/room/post" class="nav-link">ĐĂNG TIN</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">QUẢN LÝ THÔNG TIN</a>
          </li>
          <li class="nav-item">
            <a href="/favoriteList/rooms" class="nav-link">DANH SÁCH YÊU THÍCH</a>
          </li>
        <li class="nav-item">
          <a href="" class="nav-link">THÔNG BÁO</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link"><%= user.username %></a>
        </li>
        <%} else{%>
          <li class="nav-item">
            <a href="/login" class="nav-link">ĐĂNG NHẬP</a>
          </li>
          <li class="nav-item">
            <a href="/register" class="nav-link">ĐĂNG KÝ</a>
          </li>
        <% } %>
      </ul>
    </nav>
  </header>